@{
    ViewData["Title"] = "About Us";
}

<style>
    h1, h2 
    {
        color: white;
        text-align: center;
    }

    p
    {
        color: white;
        text-align:justify;
        padding:1%;
    }

    img
    {
      width:100%;
    }

    #text
    {
        background: rgba(169, 179, 188, 0.3);
        padding:2%;
    }
</style>

<h1 class="display-4">Welcome to NerdRealm Collectibles</h1>
<h1 class="display-6">Your Ultimate Comic and Collectibles Destination</h1>

<p>
    At <b>NerdRealm Collectibles </b> we invite you to embark on an extraordinary journey into the captivating world of comics and collectibles.
    We are more than just a store; we are a realm where the boundless imagination of comic creators, the thrill of collecting, and the passion of fans converge.
</p>

<img src="~/Images/About-Top.jpg" alt="Spawn"/>

<div id="text">

<h2>The Ultimate Comic and Collectibles Experience</h2>
<p>
    Step into our digital haven, one of the largest online comic and collectibles experiences you'll encounter. Here, you'll find a treasure trove of comics, graphic novels, and collectible items that span the vast multiverse of pop culture. Whether you're a seasoned collector, a devoted fan, or a newcomer eager to explore, we have something to ignite your passion.
    
    While we do have physical stores, our online platform opens up a universe of possibilities for you. Shop from the comfort of your own Bat cave, explore our extensive catalogue, and discover new adventures at your fingertips. Our user-friendly website ensures that your online shopping experience is as seamless as flipping through the pages of your favourite comic.
</p>

<h2>A Universe of Variety</h2>
<p>
    At <b>NerdRealm Collectibles</b>, we take pride in offering the widest and most diverse range of comics and collectibles available anywhere. Our virtual shelves are stocked with classic and contemporary comics, rare editions, variant covers, action figures, memorabilia, and so much more. Whatever you seek in the world of comics, we've got it right here.
</p>

<h2>Join Our Community</h2>
<p>
  <b>NerdRealm Collectibles </b> isn't just a place to shop; it's a community of like-minded individuals who share a love for comics and collectibles. Connect with us on social media, join discussions, and stay up-to-date with the latest news, events, and releases in the world of comics.
</p>

<h2>Passion-Driven Service</h2>
<p>
    As fellow enthusiasts, we understand the joy that comics and collectibles bring. That's why our team is dedicated to providing exceptional customer service. Whether you have questions about a specific comic or need recommendations, we're here to assist you every step of the way.
</p>

<h2>Start Your Adventure Today</h2>
<p>
    We invite you to embark on an unforgettable journey into the realms of heroes, villains, and epic storytelling. Dive into our digital pages, explore the vast worlds of comics and collectibles, and experience the magic of <b>NerdRealm Collectibles</b>. Your next great adventure awaits!
</p>
</div>
<img src="~/Images/About-Bottom.jpg" alt="Spawn Face"/>