@{
    ViewData["Title"] = "Home Page";
}

<style>
    h1
    {
        color:white;
        text-align:center;
    }

    img
    {
        width:90%;
        height:auto;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Step into the extraordinary world of NerdRealm Collectibles Online Comic Shop!</h1>
    <img src="~/Images/Comic image.jpg" alt="Comic Image"/>
    <img src="~/Images/MixImg.jpg" alt="Mixed Image, Spawn and Hulk"/>
</div>

