@{
    ViewData["Title"] = "Location";
}

<style>
    h1, h2 
    {
        color: white;
        text-align: center;
    }

    iframe
    {
        margin-left:25%;
    }
</style>

<div>
    <h1 class="display-5">  Explore our map to discover the nearest store and dive into the world of comics.</h1>
    <h2 class="display-6">Begin your comic book treasure hunt today!</h2>
    <iframe src="https://www.google.com/maps/d/embed?mid=1OvO9KcVIlxaONARXLeZ3Gwa-hVPqxq0&ehbc=2E312F" width="680" height="500"></iframe>
</div>